.card {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  flex-direction: column;
  -webkit-box-shadow: 0 1px 5px 3px rgba(196, 196, 196, 0.52);
  box-shadow: 0 1px 5px 3px rgba(196, 196, 196, 0.52);
}
