<div class="card">
  <h3>My Customers</h3>

  <div class="d-flex flex-grow-1 flex-column">
    <div class="row mb-2">
      <div class="col-auto invisible"><input type="checkbox" disabled /></div>
      <div class="col-2"><b>ID</b></div>
      <div class="col-2"><b>Name</b></div>
      <div class="col-1"><b>Age</b></div>
      <div class="col-2"><b>E-Mail</b></div>
    </div>

    <div *ngFor="let entry of entries" class="row pb-2">
      <div class="col-auto">
        <input type="checkbox" (click)="selectionToggle(entry, $event)" />
      </div>
      <div class="col-2 overflow-ellipsis">{{ entry.id }}</div>
      <div class="col-2">{{ entry.name }}</div>
      <div class="col-1">{{ entry.age }}</div>
      <div class="col-2">{{ entry.email }}</div>
    </div>

    <div *ngIf="loadingState$ | async">
      <div *ngFor="let _ of skeletonPlaceholders" class="row pb-2">
        <div class="col-auto invisible"><input type="checkbox" disabled /></div>
        <div class="col-2">
          <div class="skeleton-placeholder"></div>
        </div>
        <div class="col-2">
          <div class="skeleton-placeholder"></div>
        </div>
        <div class="col-1">
          <div class="skeleton-placeholder"></div>
        </div>
        <div class="col-2">
          <div class="skeleton-placeholder"></div>
        </div>
      </div>
    </div>

    <div class="row pb-3" [formGroup]="newPersonFormGroup">
      <div class="col-auto invisible">
        <input type="checkbox" disabled />
      </div>
      <div class="col-2">
        <input type="text" formControlName="id" />
      </div>
      <div class="col-2">
        <input type="text" formControlName="name" />
      </div>
      <div class="col-1">
        <input type="text" formControlName="age" />
      </div>
      <div class="col-2">
        <input type="text" formControlName="email" />
      </div>
    </div>
    <div class="d-flex">
      <button
        class="button me-2"
        [disabled]="this.newPersonFormGroup.invalid"
        (click)="addCustomer()"
      >
        Add Customer
      </button>
      <button
        class="button warn"
        [disabled]="!((hasSelection() | async)!.length > 0)"
        (click)="removeCustomers()"
      >
        Remove Customers
      </button>
    </div>
  </div>
</div>
