/* All styles are implemented with bootstrap grid classes and vanilla css,
 * but you can use your design framework of choice e.g. angular material, primeNg etc.
 * You can add global styles to this file, and also import other style files */
@import 'src/app/shared/styles/buttons';
@import 'src/app/shared/styles/card';
@import 'src/app/shared/styles/input';

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  font-family: Raleway, sans-serif !important;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Overwrite rules globally to make your application look and feel continuous.
// Be careful and sure what you want to do before adding global rules as they can make life a
// whole lot harder while developing
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
