/* You can add global styles to this file, and also import other style files */
@import 'src/app/shared/styles/buttons';
@import 'src/app/shared/styles/card';
@import 'src/app/shared/styles/input';

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  font-family: Raleway, sans-serif !important;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
