<div class="header">
  <nav class="navbar justify-content-between">
    <ul class="nav-list p-0">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/lazy-zone/lazy_1">Example Module</a></li>
      <!--      <li><a routerLink="/lazy-zone/lazy_2">Module 2</a></li>-->
    </ul>
    <div class="align-self-center">
      <button
        class="button success"
        *ngIf="!isLoggedIn(); else loggedIn"
        (click)="login()"
      >
        Sign in
      </button>
      <ng-template #loggedIn>
        <span class="me-3"> Hi {{ getUser() }} </span>
        <button class="button warn" (click)="logout()">Sign out</button>
      </ng-template>
    </div>
  </nav>
</div>
